.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 400;
  .menu {
    @extend %fullSpace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s;
    &-line {
      height: 4px;
      width: 100%;
      background-color: $color-primary;
      transform-origin: right;
      transition: all 0.5s;
    }
  }
}
.logo {
  @include flexLayout;
  font-size: 70px;
  color: $color-primary;
  height: 110px;
  width: 110px;
  border: 3px solid $color-primary;
  margin-right: 20px;
  border-radius: 50%;
}
.main-name {
  font-family: $font-nunito;
  font-size: 50px;
  color: $color-secondary;
  @include textStyles;
}
.sub-name {
  font-family: $font-josefinSans;
  font-size: 18px;
  color: $color-secondary;
  text-align: center;
  @include textStyles;
}
.main-heading {
  font-family: $font-dancingScript;
  font-size: 100px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 40px;
  margin-top: 100px;
  @media (max-width: 1600px) {
    font-size: 80px;
  }
}
.sub-heading {
  font-family: $font-josefinSans;
  font-size: 40px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 40px;
  text-align: center;
  @media (max-width: 1600px) {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.main-button {
  width: 170px;
  height: 45px;
  font-family: $font-josefinSans;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-primary;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}

.card {
  width: 33.333%;
  height: 30vw;
  position: relative;
  overflow: hidden;

  &:hover .card-overlay {
    left: 0;
  }

  &-overlay {
    position: absolute;
    top: 0;
    @extend %fullSpace;
    background-color: rgba($color-primary, 0.6);
    color: $color-white;
    z-index: 10;
    left: -100%;
    @include flexLayout;
    flex-direction: column;
    transition: left 0.7s;

    &-heading {
      font-family: $font-nunito;
      font-size: 50px;
      @include textStyles(capitalize);
    }
    &-paragraph {
      font-family: $font-josefinSans;
      font-size: 30px;
      margin-bottom: 30px;
      @include textStyles(capitalize);
    }
    &-btn {
      width: 150px;
      height: 40px;
      color: $color-primary;
      background-color: $color-white;
      font-family: $font-josefinSans;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid $color-primary;
      border-radius: 30px;
      cursor: pointer;
      outline: none;
    }
  }
  &-img {
    @extend %fullSpace;
    object-fit: cover;
    opacity: 0.5;
  }
}
